html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1169px;
  margin: 0 auto;
}

/* Header styles start */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
}

.header__logo {
  font-family: "Source Sans Pro - Black";
  font-size: 42px;
  color: white;
}

.hello__link {
  padding: 5px 20px;
  border-radius: 22px;
  border: 1px solid white;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
}

.hello__link:hover,
.hello__link:focus,
.hello__link:active {
  opacity: 75%;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 30px;
}

.header-item:last-child {
  margin-right: 0;
}

.header__link {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 75%;
}

/* header end */
.intro {
  height: 751px;
  background: url(../img/beach.jpg) no-repeat center;
  background-size: cover;
  padding-top: 293px;
  text-align: center;
}

.intro__title {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 7px;
  opacity: 80%;
  margin-bottom: 43px;
}

.intro__subtitle {
  margin: auto;
  width: 604px;
  opacity: 80%;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.79px;
}

/* intro end */
.under__intro {
  height: 487px;
  padding-top: 80px;
  padding-bottom: 57px;
}

.under__content {
  display: flex;
  justify-content: space-between;
  width: 847px;
  margin: 0 auto;
}

.under__text {
  margin-top: 34px;
  margin-bottom: 49px;
}

.bouncy {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 34px;
}

.under__bouncy {
  width: 466px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.6px;
  margin-bottom: 33px;
}

.read__more {
  padding: 5px 20px;
  border-radius: 22px;
  border: 1px solid #333b46;
  text-decoration: none;
  color: #333b46;
  font-family: "Open Sans";
  font-size: 16px;
}

.read__more:hover {
  opacity: 80%;
}

.under__photo {
  width: 215px;
  background-image: url(/img/IPAD.png);
}

.details {
  height: 620px;
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 80px;
}

.title__details {
  width: 457px;
  text-align: center;

  margin: 0 auto;
}

.details__h1 {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 41px;
}

.details__p {
  width: 457px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.6px;
  margin-bottom: 60px;
}

.details__icons {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 61px;
}

.love {
  padding: 15px;
  border-radius: 40%;
  background-color: #81868e;
  margin-right: 27px;
}

.mouse {
  padding: 9px 19px 14px 18px;
  border-radius: 40%;
  background-color: #81868e;
  margin-right: 27px;
}

.lamp {
  padding: 11px 17px 12px 16px;
  border-radius: 40%;
  background-color: #81868e;
}

.love:hover,
.mouse:hover,
.lamp:hover {
  background-color: #19bd9a;
}

.details__text {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.details__text h1 {
  color: #464646;
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 39px;
}

.details__text p {
  width: 325px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
}

.details__text .vero {
  color: #19bd9a;
  font-weight: 700;
}

.details__text .ducimus {
  color: #636971;
  font-weight: 700;
}

.details__subtext {
  margin-top: 55px;
}

.details__subtext p {
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  width: 545px;
}

.featured__title {
  text-align: center;
  width: 460px;
  margin: 80px auto 61px;
}

.featured__photo {
  display: flex;
  height: 320px;
}

.whiskey {
  width: 40%;
  background-image: url("https://i.imgur.com/g8QzY8v.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.vintage {
  width: 30%;
  background-image: url(https://i.imgur.com/8DWaWUF.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.booker {
  width: 30%;
  background-image: url(https://i.imgur.com/FlMbxKg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.whiskey__p {
  display: none;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 320px;
  text-align: center;
  color: #fff;
  animation: fade 0.1s linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

.whiskey:hover .whiskey__p {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.vintage:hover .whiskey__p {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.booker:hover .whiskey__p {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.green {
  background-image: url(/img/green.png);
  height: 113px;
  padding: 38px 0;
}

.wrapper__green {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  margin: 0 auto;
}

.wrapper__green p {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.8px;
}

.wrapper__green span {
  font-weight: 700;
  letter-spacing: 0.8px;
}

.green__button {
  padding: 10px 20px;
  border-radius: 22px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.green__button:hover {
  opacity: 80%;
}


.service__content {
  margin: 81px auto 137px;
  width: 1028px;
}

.service__text {
  align-items: center;
  text-align: center;
  margin-bottom: 137px;
}

.service__text h1 {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.service__text p {
  margin: 41px auto 0;
  width: 460px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
}

.graphic {
  width: 1028px;
  height: 263px;
  display: flex;
}

.graphic__icon {
  max-width: 55px;
}

.remont {
  margin-bottom: 17px;
  padding: 13px;
  border-radius: 35%;
  background-color: #81868e;
}

.valik {
  margin-bottom: 17px;
  padding: 14px 15px 11px 14px;
  border-radius: 35%;
  background-color: #81868e;
}

.gamepad {
  margin-bottom: 17px;
  padding: 10px 12px 17px 13px;
  border-radius: 35%;
  background-color: #81868e;
}

.outlet {
  padding: 13px 10px 14px 18px;
  border-radius: 35%;
  background-color: #81868e;
}

.remont:hover,
.valik:hover,
.gamepad:hover,
.outlet:hover {
  background-color: #19bd9a;
}

.graphic__text {
  margin-left: 44px;
  width: 380px;
}

.graphic__text h1 {
  color: #464646;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-bottom: 34px;
}

.graphic__text p {
  color: #81868e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 28px;
}

.graphic__text p span {
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: 0.8px;
}

.graphic__text span {
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.graphic__circle {
  margin-top: 60px;
  margin-left: 90px;
}

.list__circle {
  display: flex;
  flex-wrap: wrap;
}

.item__circle {
  margin-right: 30px;
}

.item__circle:last-child {
  margin-right: 0;
}

.item__circle p {
  position: relative;
  top: -75px;
  left: 45px;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.25px;
}

.item__circle p span {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.item__circle h1 {
  text-align: center;
  /* Style for "UI/UX" */
  color: #81868e;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}
